.home-index {
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 10px;
  overflow-x: hidden;
  width: 100%;
}
.road-cont,
.second-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.road-cont {
  background-image: url("../../Assets/road-bg.gif");
  background-size: 100% 100%;
}
.second-cont {
  background-image: url("../../Assets/about-bg.gif");
  background-size: 100% 100%;
  overflow-y: hidden;
}
.index-cont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* padding-top: 180px; */
  position: relative;
  overflow-x: hidden;
}
.bg {
  right: 0;
  top: 0;
  max-width: 100%;
  object-fit: contain;
  opacity: 0.6;
  position: absolute;
  z-index: -1;
}
@media screen and (max-width: 900px) {
  .index-cont {
    /* background-image: url("../../Assets/cool-background.svg"); */
    background-position: top right;
    background-repeat: no-repeat;
  }
  .bg {
    display: none;
  }
  .road-cont,
  .second-cont {
    background-size: cover;
  }
}
