.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 173px);
  width: 100%;
  gap: 2rem;
}
.left__hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}
.left__hero h1 {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 3rem;
  color: var(--primary-color);
  letter-spacing: 4px;
}
.left__hero p {
  font-size: 1.4rem;
  color: var(--secondary-color);
  width: 517px;
  text-align: center;
}
.heart-shape {
  position: relative;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background: var(--gradient-color);
  cursor: pointer;
  z-index: 6;
}
.heart-shape:before,
.heart-shape:after {
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 1;
  content: "";
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: var(--gradient-color);
  cursor: pointer;
}
.heart-shape:before {
  bottom: 0px;
  left: -50px;
}
.heart-shape:after {
  top: -50px;
  right: 0px;
}
.btn-div-hero {
  position: relative;
  margin-top: 2rem;
}
.view {
  position: absolute;
  width: max-content;
  color: white;
  text-transform: uppercase;
  background: transparent;
  font-size: 15px;
  border: none;
  top: 30%;
  z-index: 8;
  left: 50%;
  transform: translate(-50%, -50%);
}

.right__hero img {
  width: 400px;
  height: 575px;
  object-fit: cover;
}
@media screen and (max-width: 1196px) {
  .hero {
    gap: 40px;
  }
}
@media screen and (max-width: 1098px) {
  .hero {
    flex-direction: column;
    padding-inline: 20px;
  }
  .left__hero,
  .right__hero {
    flex: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .left__hero {
    gap: 20px;
  }
  .left__hero h1 {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 2rem;
  }
  .left__hero p {
    width: 440px;
    text-align: center;
    font-size: 1.45rem;
  }
}
@media screen and (max-width: 458px) {
  .right__hero img {
    max-width: 100%;
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  .left__hero h1 {
    font-size: 1.8rem;
  }
  .left__hero p {
    width: 100%;
  }
}
