.mint {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url("../../Assets/connect-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 852px;
  max-height: 852px;
}

.mint button {
  padding: 15px 40px;
  background-color: rgba(246, 43, 132, 1);
  border: 3px solid white;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  transition: all 0.2s ease;
  position: absolute;
  z-index: 4;
  top: 68%;
  left: 49%;
  transform: translateX(-50%) translateY(-50%);
}
@media screen and (min-width: 1915px) {
  .mint button {
    top: 59%;
  }
}
@media screen and (max-width: 1915px) {
  .mint button {
    top: 58%;
  }
}
@media screen and (max-width: 1823px) {
  .mint button {
    top: 57%;
    width: 220px;
    padding: 15px 0px;
    display: grid;
    place-items: center;
  }
}
@media screen and (max-width: 1600px) {
  .mint button {
    top: 57%;
  }
}
@media screen and (max-width: 1500px) {
  .mint button {
    left: 49%;
    width: 200px;
  }
}
.mint button:hover {
  opacity: 0.6;
}
.mint img {
  display: none;
}

@media screen and (max-width: 850px) {
  .mint button {
    left: 48%;
  }
}
@media screen and (max-width: 470px) {
  .mint button {
    left: 48.5%;
  }
  .mint {
    background-position: 49%;
  }
}
