.roadmap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 5rem;
  gap: 3rem;
  padding-bottom: 2rem;
  max-width: 1200px;
  margin-bottom: 1rem;
  background-image: url("../../../Assets/about-bg (2).gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.roadmap-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(4, auto);
  row-gap: 60px;
  width: fit-content;
}
.line {
  margin-left: 14px;
  grid-column: 1/2;
  grid-row: 1/5;
  width: 5px;
  display: block;
  background: rgb(138, 62, 255);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}
.road-div {
  grid-column: 2/3;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  padding-left: 4rem;
  top: 0;
  left: 0;
  gap: 10px;
}
.road-div::before {
  content: "";
  position: absolute;
  left: -13px;
  top: 10px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}

.road-div h2 {
  font-size: 2rem;
  color: white;
  text-align: center;
  font-weight: 600;
  text-shadow: 5px 2px 10px rgba(0, 0, 0, 0.3);
}
.road-div p {
  font-size: 16px;
  font-weight: 400;
  color: black;
  max-width: 800px;
  text-align: left;
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  font-weight: 500;
}

@media screen and (max-width: 1294px) {
  .road-div h2 {
    font-size: 1.8rem;
    text-align: left;
  }

  .road-div p {
    font-size: 13px;
    padding: 10px;
    width: 95%;
    max-width: 800px;
  }
  .road-div {
    padding-left: 3rem;
  }
  .road-div::before {
    top: 8px;
  }
}
@media screen and (max-width: 559px) {
  .roadmap {
    margin-bottom: 0rem;
  }
  .road-div h2 {
    font-size: 1.3rem;
  }
  .road-div p {
    font-size: 14px;
  }
  .roadmap-grid {
    column-gap: 20px;
  }
  .road-div::before {
    left: -32px;
    top: 2px;
  }
  .roadmap {
    margin-bottom: 0rem;
  }
  .road-div {
    padding-left: 0.5rem;
  }
}
