.roadmap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 5rem;
  gap: 3rem;
  padding-bottom: 2rem;
  max-width: 1200px;
  margin-bottom: 14rem;
}
.roadmap-grid {
  position: relative;
  width: 100%;
}
.roadmap-grid img {
  max-width: 100%;
  object-fit: contain;
}

.road-div {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}

.road-div h2 {
  font-size: 1.4rem;
  color: white;
  text-align: center;
  text-shadow: 5px 0px 10px rgba(0, 0, 0, 0.6);
}
.road-div p {
  font-size: 13px;
  color: black;
  max-width: 300px;
  text-align: left;
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  font-weight: 500;
}
.div1 {
  top: 10%;
  left: -4%;
}
.div2 {
  top: 61%;
  left: 35%;
}
.div3 {
  top: 10%;
  left: 44%;
}
.div4 {
  top: 20%;
  left: 84%;
}
.line {
  display: none;
}
@media screen and (max-width: 1436px) {
  .roadmap {
    max-width: 1000px;
  }
  .div1 {
    top: 5%;
    left: -10%;
  }
  .div2 {
    top: 61%;
    left: 35%;
  }
  .div3 {
    top: 5%;
    left: 39%;
  }
  .div4 {
    top: 20%;
    left: 84%;
  }
}
@media screen and (max-width: 1294px) {
  .roadmap {
    max-width: 1200px;
    background-image: url("../../../Assets/road-bg.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .roadmap-grid img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    object-fit: cover;
  }
  .roadmap-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(4, auto);
    row-gap: 60px;
    width: fit-content;
  }
  .line {
    margin-left: 14px;
    grid-column: 1/2;
    grid-row: 1/5;
    width: 5px;
    display: block;
    background: var(--gradient-color);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  }
  .road-div {
    grid-column: 2/3;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    padding-left: 6rem;
    top: 0;
    left: 0;
    gap: 10px;
  }
  .road-div::before {
    content: "";
    position: absolute;
    left: -13px;
    top: 20px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
  }

  .road-div h2 {
    font-size: 2.7rem;
    text-align: left;
  }

  .road-div p {
    font-size: 1.1rem;
    padding: 10px;
    width: 95%;
    max-width: 800px;
  }
  .road-div {
    padding-left: 3rem;
  }
}
@media screen and (max-width: 559px) {
  .roadmap {
    margin-bottom: 0rem;
  }
  .road-div h2 {
    font-size: 1.5rem;
  }
  .road-div p {
    font-size: 16px;
  }
  .roadmap-grid {
    column-gap: 20px;
  }
  .road-div::before {
    left: -32px;
    top: 10px;
  }
  .roadmap {
    margin-bottom: 0rem;
  }
  .road-div {
    padding-left: 0.5rem;
  }
}
