footer {
  background-color: white;
  padding: 30px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 2px solid black;
  gap: 1rem;
}
