footer {
  background-color: white;
  padding: 20px 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid black;
  gap: 2rem;
}
footer .logo {
  width: fit-content;
}
