footer {
  background-color: white;
  padding: 20px 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 2rem;
  max-width: 1600px;
}
.footer-cont {
  border-top: 2px solid black;
}
footer .logo {
  width: fit-content;
}
